<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-bottom-border">
    <div class="container-fluid">
      <img src="{{ site.url }}/assets/images/netseclablogo_header.svg" class="logo" />
      <!--<a class="navbar-brand" href="/">NetSecurityLab</a>-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/' %} active {% endif %}" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/people.html' %} active {% endif %}" href="/people">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/publications.html' or page.url contains '/publications/' %} active {% endif %}" href="/publications">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/news.html' or page.url contains '/news/' %} active {% endif %}" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/students.html' %} active {% endif %}" href="/students">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/thesis.html' %} active {% endif %}" href="/thesis">Thesis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/collaborations.html' %} active {% endif %}" href="/collaborations">Collaborations</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <i data-bs-toggle="modal" href="#searchModal" class="search-icon bi bi-search mr-2" type="search"></i>
        </form>
      </div>
      <div class="modal fade" id="searchModal" aria-hidden="true" aria-labelledby="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header border-0">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="search-input-modal" id="search"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>