@import "bootstrap-5.3.3/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  height: 100%;
  width: 100%;
}

.navbar-bottom-border {
  border-bottom: 2px solid #e7e7e7;
}

.home-container {
  padding: 100px 15px;
}

.nav-link.active {
  color: #3db75d !important;
  font-weight: bold;
}

.nav-link {
  color: #999;
}


.nav-link:hover {
  cursor: pointer;
  color: #3db75d;
}

.full-rounded {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  object-position: top center;
}

.publication-title {
  font-size: 25px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.publication-title > a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease-in-out;
}

.publication-title:hover > a {
  cursor: pointer;
  color: #3db75d;
  text-decoration: underline;
}

.publication-abstract-list {
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .3s ease-in-out;
}

.publication-abstract-list:hover {
  cursor: pointer;
  color: #3db75d;
  transition: all .3s ease-in-out;
}

.author-link {
  text-decoration: none;
  transition: all .3s ease-in-out;
  font-size: 15px;
}

.author-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #3db75d !important;
  transition: all .3s ease-in-out;
  font-size: bold;
}

.publication-option {
  border: 2px solid #3db75d;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.publication-option:hover {
  background-color: #3db75d;
}

.publication-option:hover > a {
  color: #fff;
  transition: all .3s ease-in-out;
}

.publication-option > a {
  font-size: 15px;
  text-decoration: none;
  color: #3db75d;
  transition: all .3s ease-in-out;
}

.news-span-date::after {
  margin-left: 10px;
  content: '\00B7';
  margin-right: 10px;
}

.news-section {
  border-radius: 3px;
  border: 1px solid rgb(170, 170, 170);
  border-top: 2px solid rgb(170, 170, 170);
}

.article {
  border-top: 1px solid rgb(160, 160, 160);
}

.news-section > .article:last-of-type {
  border-bottom: 1px solid rgb(160, 160, 160);
}

.news-date-home > span::before {
  content: '\00B7';
  margin-right: 3px;
}

.news-link-home {
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: all .3s ease-in-out;
}

.news-link-home:hover {
  color: #3db75d;
  font-weight: bold;
  transition: all .3s ease-in-out;
}

.student-item {
  border-bottom: 1px dotted rgb(160, 160, 160);
  margin-bottom: 5px;
}

.publication-type {
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.publication-author-image {
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
}

.publication-author {
  border-top: 1px solid rgb(240, 240, 240);
  margin-bottom: 15px;
}

.contact:hover {
  transform: scale(1.2);
}

.people-name {
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.people-name:hover {
  cursor: pointer;
  transition: all .3s ease-in-out;
  color: #3db75d;
}

.search-icon {
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-size: 22px;
}

.search-icon:hover {
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}

.inline-tags > span {
  cursor: default;
}

.inline-tags > span:not(:first-child) {
  margin-left: 5px;
}

.inline-tags > span {
  font-size: 12px;
  font-weight: normal;
}

.spoiler {
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-size: 2.5rem !important;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.spoiler:hover {
  opacity: .8;
  transition: all .3s ease-in-out;
}

.difficultydot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #75b798; 
  border: 1px solid #0f5132;
  margin-left: 3px;
}

.difficultydot.active {
  background-color: #0f5132;
}