<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="container" style="padding-top: 60px;">
      <div class="d-flex justify-content-center row">
        <h1 class="text-center">Latest News</h1>
        <div class="col-md-8 ms-5">
            {% assign news = site.news | sort: 'date' | reverse %}
            {% for article in news %}
            
            {% assign middle_part = article.path | split: '/'%}
            <div class="publication mb-5">
                <span class="col-sm-10 publication-title">
                    <a href="{{site.url}}/news/{{article.slug}}">{{article.title}}</a>
                </span>
                <div onclick="window.location.href= '{{site.url}}/news/{{middle_part[1]}}'" class="col-lg-10 publication-abstract-list">
                    {{article.short_description | strip_html}}
                </div>
                <div class="publication-conference mt-1 text-body-secondary">
                    {{article.publication}}
                </div>
                <div class="publication-options mt-2 text-body-secondary">
                    {{article.date | date: "%-d %B %Y"}}
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
