<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="container" style="padding-top: 60px;">
      <div class="d-flex justify-content-center row">
        <h1 class="text-center">Publications</h1>
        <div class="col-md-8 ms-0">
          <form class="d-flex form-inline mb-4">
            <div class="form-group mr-2">
              <input class="form-control filter-text" id="textSearch" type="text" placeholder="Search...">
            </div>
            <div class="form-group ms-2">
              <select class="form-select filter-type">
                <option value="*" default>Type</option>
                <option value="paper_conference">Conference Paper</option>
                <option value="paper_journal">Journal Paper</option>
                <option value="paper_preprint">Preprint</option>
              </select>
            </div>
            <div class="form-group ms-2">
              <select class="form-select filter-year">
                <option value="*" default>Year</option>
              </select>
            </div>
          </form>
        </div>
        <div class="publications col-md-8 ms-0">
            {% assign publications = site.publications | sort: 'date' | reverse %}
            {% for publication in publications %}
            
            {% assign middle_part = publication.path | split: '/'%}
            <div class="publication mb-5" data-filter-type="{{publication.publication_types}}" data-filter-year="{{publication.date | date: "%Y"}}">
                <span class="col-sm-10 publication-title">
                    <a href="{{site.url}}/publications/{{middle_part[1]}}">{{publication.title}}</a>
                </span>
                <div onclick="window.location.href= '{{site.url}}/publications/{{middle_part[1]}}'" class="col-lg-12 publication-abstract-list">
                    {{publication.abstract}}    
                </div>
                <div class="publication-conference mt-1 text-body-secondary">
                    {{publication.publication}}
                </div>
                <div class="publication-authors mt-1">
                    {% for author in publication.authors %}
                    {% assign tmp_author = author | replace: ' ', '-' | downcase %}
                    <span data-pagefind-filter="{{author}}">
                        <a href="{{site.url}}/authors/{{tmp_author}}" class="author-link text-body-secondary">{{author}}</a>{% if forloop.last == true %}.{% else %},{% endif %}
                    </span>
                    {% endfor %}
                </div>
                <div class="publication-options mt-2">
                    <span class="publication-option"><a href="/publications/{{middle_part[1]}}/cite.bib" target="_blank" class="option-link"><i class="bi bi-quote"></i> Cite</a></span>
                    {% for link in publication.links %}
                    <span class="publication-option"><a href="{{link.url}}" target="_blank" class="option-link"><i class="{{link.icon}}"></i> {{link.value}}</a></span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </main>
    {% include footer.html %}
    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script>
      var years = new Set(); // Usa un Set per ottenere valori unici

      $('.publication').each(function() {
          var year = $(this).attr('data-filter-year');
          years.add(year); // Aggiungi l'anno al Set
      });

      // Ordina gli anni in ordine decrescente
      var sortedYears = Array.from(years).sort(function(a, b) {
          return b - a; // Ordine decrescente
      });

      // Popola il select year con le opzioni
      var $yearSelect = $('.filter-year');
      sortedYears.forEach(function(year) {
          $yearSelect.append('<option value="' + year + '">' + year + '</option>');
      });


      let $pubs = $('.publications').isotope({
        itemSelector: '.publication',
        layoutMode: 'fitRows'
      });

      function filterPublications() {
        let year = $('.filter-year').val();
        let type = $('.filter-type').val();
        let text = $('.filter-text').val().toLowerCase();


        console.log(year, type)
        
        var yearFilter = year === '*' ? '*' : '[data-filter-year="' + year + '"]';
        var typeFilter = type === '*' ? '*' : '[data-filter-type="' + type + '"]';
        var combinedFilter = yearFilter + typeFilter;

        $pubs.isotope({
          filter: function() {
            let $this = $(this);
            let matchesYearAndType = $this.is(combinedFilter);
            let matchesText = $this.text().toLowerCase().includes(text);

            return matchesYearAndType & matchesText;
          }
        })

      }

      $('.filter-year, .filter-type, .filter-text').on('change keyup', function() {
        filterPublications();
      })
    </script>
  </body>
</html>
