<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    {% assign middle_part = page.url | split: '/'%}
    <main class="container" style="padding-top: 60px;">
      <div class="row">
        <div class="d-flex flex-column align-items-center align-content-center justify-content-center col-lg-12">
            <h3 class="col-md-6 mb-0">{{page.title}}</h3>
            <div class="col-md-6">
                <div class="publication-options mt-0 mb-2 text-body-secondary">
                    <span class="news-span-date">{{page.date | date: "%-d %B %Y"}}</span>
                    <span>{{content | reading_time}}</span>
                </div>
                
                <p>{{page.short_description}}</p>
                {{content}}
            </div>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
