<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% include head.html %}
  <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
  </script>
  <body> {% include header.html %} <main class="container" style="padding-top: 60px;">
      <div class="row">
        <div class="col-lg-8 order-lg-1 order-2">
          <h2 class="fw-bold title-main-color">Thesis</h2>
          <p class="thesisAbstract">
            Students' proposed topics about network security or cybersecurity are welcome.
          </p>
          <ol class="p-0 m-0">
            {% assign theses = site.data.theses %}
            {% for thesis in theses %}
            {% if thesis.available %}
            <li class="d-flex pb-2 pt-2 flex-column student-item">
                <div data-bs-toggle="collapse" href="#collapseThesis{{ forloop.index }}" role="button" aria-expanded="false" aria-controls="collapseThesis{{ forloop.index }}" class="d-flex justify-content-between flex-row align-items-center spoiler" data-target="collapseThesis{{ forloop.index }}">
                    <h5>{{ thesis.title }}</h5>
                    <h5 class="toggle-icon">+</h5>
                </div>
                <div class="collapse multi-collapse" id="collapseThesis{{ forloop.index }}">
                    <div class="card card-body">
                        <div class="d-flex flex-start align-items-center">
                            <b>Level:</b>
                            <div class="d-flex align-items-center ml-2">
                                {% for level in thesis.levels %}
                                    <span style="margin-left:3px;" class="badge rounded-pill text-bg-primary">{{ level }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-flex flex-start align-items-center">
                            <b>Difficulty <i data-toggle="tooltip" data-placement="top" title="This indicator is for informational purposes only and may not be entirely accurate." class="bi bi-info-circle"></i>:</b>
                            <div title="{{ thesis.difficulty }}/5" class="d-flex align-items-center ml-2">
                                {% for i in (1..5) %}
                                    {% if i <= thesis.difficulty %}
                                        <div class="difficultydot active"></div>
                                    {% else %}
                                        <div class="difficultydot"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="thesisAbstract"><b>Abstract:</b> {{ thesis.abstract }}</div>
                        <div class="d-flex mb-0 mt-1 inline-tags">
                            {% for tag in thesis.tags %}
                                <span title="{{ tag }}" data-tag="{{ tag }}" class="badge rounded-pill text-bg-secondary">{{ tag }}</span>
                            {% endfor %}
                    </div>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
            </ol>
          </div>
          <div class="col-lg-4 order-lg-2 order-1 mb-3 mb-lg-0">
            <div class="p-3 news-section bg-light">
                <h4><span><img src="{{ 'assets/images/warning.svg' | asset_path }}" width="22px" height="22px" style="margin-bottom: 4px;" alt="Warning Icon"/></span> Requirements</h4>
                <div class="article pt-2 pb-2">
                  <div>
                    Given the previous experiences and required knowledge to complete the proposed thesis topics, 
                    we expect students requesting a bachelor thesis to have at least <span class="fw-bold">141 CFU</span>
                    while <span class="fw-bold">72 CFU</span> for master thesis.

                    When contacting us for a thesis request, please remember to attach your CV with all the exams you passed.

                  </div>
                </div>
              </div>
          </div> 
        </div>
    </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".spoiler").forEach(function (toggle) {
                toggle.addEventListener("click", function () {
                    let symbol = this.querySelector(".toggle-icon");
                    symbol.textContent = symbol.textContent === "+" ? "-" : "+";
                });
            });
        });
        </script>        
    </main> {% include footer.html %} </body>
</html>